<div class="yui-g">
  <div class="yui-u first">
    <fieldset>
    <%= f.hidden_field :preferred_provider, :value => "facebook" %>
    <p>
      <label><%= t("environment") %></label>
      <%= f.collection_select(:environment,
                              Configuration.configurations.keys.sort,
                              :to_s, :titleize,
                              {}, {:id => "gtwy-env"}) %>
    </p>

    <p>
      <%= f.check_box :active, {:style => "vertical-align:middle;"} %>
      <label>
        <%= t('enable') %>
      </label>
    </p>
    </fieldset>
    <fieldset>
    <p>
      <label><%= t("fb_layout_style") %></label>
      <%= f.select :preferred_layout, ["standard", "button_count", "box_count"], {}, {:onchange => "javascript:fb_generator('');"} %>
    </p>

    <p>
      <%= f.check_box :preferred_show_faces, {:style => "vertical-align:middle;", :onchange => "javascript:fb_generator('');"} %>
      <label>
        <%= t('fb_show_faces') %>
      </label>
    </p>

    <p>
      <label><%= t('fb_width') %></label>
      <%= f.text_field :preferred_width, :size => 40, :maxlength => 4, :value => (@share_method.preferred_width || '450'), :onchange => "javascript:fb_generator('');" %>
    </p>

    <p>
      <label><%= t('fb_verb') %></label>
      <%= f.select :preferred_verb, ["like", "recommend"], {}, {:onchange => "javascript:fb_generator('');"} %>
    </p>

    <p>
      <label><%= t('fb_font') %></label>
      <%= f.select :preferred_font, ["arial", "lucida grande", "segoe ui", "tahoma", "trebuchet ms", "verdana"], {}, {:onchange => "javascript:fb_generator('');"} %>
    </p>

    <p>
      <label><%= t('fb_color') %></label>
      <%= f.select :preferred_color, ["light", "dark"], {}, {:onchange => "javascript:fb_generator('');"} %>
    </p>
    </fieldset>
  </div>
</div>
