<div style="display: inline;float: left;width: 270px;margin: 10px 0">
  <% @share_methods.each do |sm| %>
      <% if sm.preferred_provider == "facebook" %>
        <fb:like layout=<%= "#{sm.preferred_layout}" %> show_faces=<%= "#{sm.preferred_show_faces}" %> width=<%= "#{sm.preferred_width}" %> action=<%= "#{sm.preferred_verb}" %> font=<%= "#{sm.preferred_font}" %> colorscheme=<%= "#{sm.preferred_color}"%>></fb:like>
      <% end %>
  <% end %>
</div>
<% content_for :head do %>
  <%= javascript_include_tag("http://connect.facebook.net/en_US/all.js#xfbml=1")%>
  <%= tag('meta', :property => 'og:title', :content => @product.name) %>
  <%= tag('meta', :property => 'og:type', :content => "product") %>
  <%= tag('meta', :property => 'og:url', :content => "http://#{Spree::Config[:site_url]}#{product_path(@product)}") %>
  <%= tag('meta', :property => 'og:image', :content => "http://#{Spree::Config[:site_url]}#{@product.images.first.attachment.url(:product)}") if @product.images %>
  <%= tag('meta', :property => 'og:site_name', :content => Spree::Config[:site_name]) %>
  <%= tag('meta', :property => 'og:description', :content => @product.meta_description) if @product.meta_description.present? %>
<% end %>
